server:
  port: 8080

spring:
  datasource:
    url: jdbc:mysql://localhost:3306/jwt
    username: root
    password: Theanh@123
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect

jwt:
  secretKey: "UGV0b3BpYS1Qcm9qZWN0LVNlY3JldC1LZXktRm9yLUpXVC1HZW5lcmF0aW9uLVZlcnktU2VjdXJlLUFuZC1Mb25n"
  expiration: 86400000
  refresh-expiration: 604800000